.button {
	width: 120px;
	height: 60px;
	border-radius: 10px;
	background: linear-gradient(to left, black 50%, white 50%);
	background-position: right bottom;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Darker Grotesque', sans-serif;
	cursor: pointer;
	transition: all .5s ease;
	background-size: 200% 100%;
}

.button:hover {
	background-position: left bottom;
	color: black;
}